table {
	color: white;
	margin: 15% 40%;
	text-align: center;
}
.border-right {
	border-right: 1px solid black;
}
.border-left {
	border-left: 1px solid black;
}
.border-bottom {
	border-bottom: 1px solid black;
}
.borrder-top {
	border-top: 1px solid black;
}
td {
	height: 100px;
	width: 150px;
	font-size: 25px;
}